html, body {
    margin: 0;
    padding: 0;
    font-family: Kristen ITC, Helvetica, sans-serif;
    background-color: rgb(32, 32, 32);
}
.page {
    max-width: 644px;
    height: auto;
    color: white;
    text-align: center;
    margin: 0 auto;
}
img {
    max-width: 100%;
    border-radius: 10px;
}
.time {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.red-text {
    color: rgb(207, 42, 75);
}
.description {
    background-color: aliceblue;
    color: black;
    margin-top: 0;
    padding: 10px;
    border-radius: 10px;
}
.selected-text {
    color: aqua;
    font-size: 20px;
}
.text {
    font-size: 14px;
}
svg {
    fill: rgb(188, 224, 255);
}